! special
#URxvt.letterSpace: 0
URxvt.font:	    xft:Inconsolata for Powerline:size=14
URxct.depth:    32

! special
*.foreground:   #c5c8c6
*.background:   #000000
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #841e1e
*.color9:       #bd6060

! green
*.color2:       #6d843d
*.color10:      #9bb351

! yellow
*.color3:       #cd924e
*.color11:      #dfbd79

! blue
*.color4:       #214f5e
*.color12:      #406572

! magenta
*.color5:       #7e4b97
*.color13:      #9876a9

! cyan
*.color6:       #457c5c
*.color14:      #4f906a

! white
*.color7:       #a4b5b6
*.color15:      #b8cccd



! new desaturated colors
! special
!*.foreground:   #c5c8c6
!*.background:   #1d1f21
!*.background:   #000000
!*.cursorColor:  #c5c8c6

! black
!*.color0:       #282a2e
!*.color8:       #373b41

! red
!*.color1:       #841e1e
!*.color9:       #bd6060

! green
!*.color2:       #6f883c
!*.color10:      #9fb852

! yellow
!*.color3:       #cd924e
!*.color11:      #dfbd79

! blue
!*.color4:       #38859e
!*.color12:      #63a4bc

! magenta
!*.color5:       #7e4b97
!*.color13:      #9876a9

! cyan
!*.color6:       #52956e
!*.color14:      #60af81

! white
!*.color7:       #a4b5b6
!*.color15:      #b8cccd


! old android colors

! special
!*.foreground:   #c5c8c6
!*.background:   #1d1f21
!*.cursorColor:  #c5c8c6

! black
!*.color0:       #282a2e
!*.color8:       #373b41

! red
!*.color1:       #cc0000
!*.color9:       #ff4444

! green
!*.color2:       #669900
!*.color10:      #99cc00

! yellow
!*.color3:       #ff8800
!*.color11:      #ffbb33

! blue
!*.color4:       #0099cc
!*.color12:      #33b5e5

! magenta
!*.color5:       #9933cc
!*.color13:      #aa66cc

! cyan
!*.color6:       #27ae60
!*.color14:      #2ecc71

! white
!*.color7:       #7f8c8d
!*.color15:      #95a5a6

!
! scrollbar
!
! enable scrollbar
URxvt*scrollBar:          false
! scrollbar width
URxvt*thickness:          5
! scrollbar color
URxvt*scrollColor:        #1E1E1E
! scrollbar trough area color
!URxvt*troughColor:        #333333
! scrollbar without a trough
!URxvt*scrollBar_floating: false
! scrollbar to the right
URxvt*scrollBar_right:    true
! scrollbar style
URxvt*scrollstyle:        plain

! URxvt by default does not support using the control+arrows to advance or
! retreat one word at a time. The following two codes re-enable this.
URxvt.keysym.C-Right    : \033[1;5C
URxvt.keysym.C-Left     : \033[1;5D

! URxvt tabs
!URxvt.perl-ext-common: ...,tabbed,...
!URxvt.tabbed.tabbar-fg: 2
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 3
!URxvt.tabbed.tab-bg: 0

urxvt*perl-lib:            /usr/lib/urxvt/perl/
urxvt*perl-ext-common:        default,matcher
urxvt*url-launcher:        /usr/bin/google-chrome-stable
urxvt*matcher.button:        1
urxvt*matcher.pattern.1:   \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

